body {
    background-color: #61dafb;
}

a {
    text-decoration: none;
}

.meal-item{
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px 2px #ccc;

}

.meal-time {
    font-size: 20px;
}
